In [1]:
import pandas as pd

# 1. Cek informasi dataset_raw

In [3]:
df_raw = pd.read_csv('dataset_raw.csv')

In [4]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   object
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: int64(1), object(12)
memory usage: 980.0+ KB

In [7]:
# Cek jumlah missing value per kolom
df_raw.isnull().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

In [9]:
# Cek apakah ada baris duplikat
df_raw.duplicated().sum()

0

# 2. Cek informasi dataset_clean

In [5]:
df_clean = pd.read_csv('dataset_clean.csv')

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9648 non-null   object
 1   retailer_id       9648 non-null   int64
 2   invoice_date      9648 non-null   object
 3   region            9648 non-null   object
 4   state             9648 non-null   object
 5   city              9648 non-null   object
 6   product           9648 non-null   object
 7   price_per_unit    9648 non-null   int64
 8   units_sold        9648 non-null   int64
 9   total_sales       9648 non-null   int64
 10  operating_profit  9648 non-null   int64
 11  operating_margin  9648 non-null   float64
 12  sales_method      9648 non-null   object
dtypes: float64(1), int64(5), object(7)
memory usage: 980.0+ KB

In [13]:
df_clean.head(5)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,operating_margin,sales_method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,50.0,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,30.0,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,35.0,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875,35.0,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60,900,540000,162000,30.0,In-store

In [11]:
# Cek rentang tanggal
tanggal_awal = df_clean['invoice_date'].min()
tanggal_akhir = df_clean['invoice_date'].max()

print(f"Dari tanggal: {tanggal_awal} sampai {tanggal_akhir}")

Dari tanggal: 2020-01-01 sampai 2021-12-31

In [14]:
df_clean['retailer'].unique()

array(['Foot Locker', 'Walmart', 'Sports Direct', 'West Gear', "Kohl's",
       'Amazon'], dtype=object)

In [15]:
df_clean['city'].unique()

array(['New York', 'Houston', 'San Francisco', 'Los Angeles', 'Chicago',
       'Dallas', 'Philadelphia', 'Las Vegas', 'Denver', 'Seattle',
       'Miami', 'Minneapolis', 'Billings', 'Knoxville', 'Omaha',
       'Birmingham', 'Portland', 'Anchorage', 'Honolulu', 'Orlando',
       'Albany', 'Cheyenne', 'Richmond', 'Detroit', 'St. Louis',
       'Salt Lake City', 'Phoenix', 'New Orleans', 'Boise', 'Albuquerque',
       'Atlanta', 'Charleston', 'Charlotte', 'Wichita', 'Columbus',
       'Louisville', 'Jackson', 'Little Rock', 'Oklahoma City',
       'Sioux Falls', 'Fargo', 'Des Moines', 'Milwaukee', 'Indianapolis',
       'Baltimore', 'Wilmington', 'Newark', 'Hartford', 'Providence',
       'Boston', 'Burlington', 'Manchester'], dtype=object)

In [17]:
df_clean['region'].unique()

array(['Northeast', 'South', 'West', 'Midwest', 'Southeast'], dtype=object)

In [19]:
df_clean['state'].nunique()

50